<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--[if mso]>
<style type="text/css">
body, table, td {font-family: sans-serif !important;}
</style>
<![endif]-->
</head>

<body>
    <p>Your reservation in Gafaspot expired. The credentials you received are not longer valid.</p>
    <br>
    <h3>Reservation</h3>
    <p>username:&nbsp;{{ .Info.Res.User }}</p>
    <p>Environment:&nbsp;{{ .Info.Env.NiceName }}<br>
        Subject:&nbsp;{{ .Info.Res.Subject }}</p>
    <p>Start:&nbsp;{{ formatDatetime .Info.Res.Start }}<br>
        End:&nbsp;{{ formatDatetime .Info.Res.End }}</p>
    <br>
    {{ if .Info.Env.Description }}
    <h3>Environment Description</h3>
    {{ .Info.Env.Description }}
    <br>
    {{ end }}

    <style>
        body {
            font-family: sans-serif;
        }

        .breakall {
            word-break: break-all;
        }
    </style>
</body>

</html>