{{ template "top" }}
{{ template "nav" index .Username }}
<main>
    <div class="container">
        {{ if not .Envs }}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No Credentials</h4>
            <p>You don't have any active reservations, so Gafaspot has no valid credentials for you.</p>
            <hr>
            <p>
                Please note: It may take a few minutes until a reservation becomes active. So, if your reservation
                should have started just a short while ago, be a little patient.
            </p>
        </div>
        {{ else }}
        {{ range $envName, $secEng := index .Envs }}
        <h3>{{ $envName }}</h3>
        {{ range $secEngName, $creds :=  $secEng }}
        <h5>{{ $secEngName }}:</h5>

        {{ if index $creds "username" }}
        <p><span class="font-weight-bold">username: </span><span class="text-monospace text-break">{{ index $creds "username" }}</span></p>
        {{ end }}
        {{ range $key, $value := $creds }}
        {{ if ne $key "username" }}
        <p><span class="font-weight-bold">{{ $key }}: </span><span class="text-monospace text-break">{{ $value }}</span></p>
        {{ end }}

        {{ end }}
        {{ end}}
        <hr>
        {{ end }}
        {{ end }}
    </div>
</main>
{{ template "bottom" }}