{{/* 
    Copyright 2019, Advanced UniByte GmbH.
    Author Marie Lohbeck.
    
    This file is part of Gafaspot.
    
    Gafaspot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Gafaspot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ template "top" }}
{{ template "nav" index .Username }}
<main>
    <div class="container">
        <br>
        {{ if not .CredsData }}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No Credentials</h4>
            <p>You don't have any active reservations, so Gafaspot has no valid credentials for you.</p>
            <hr>
            <p>
                Please note: It may take a few minutes until a reservation becomes active. So, if your reservation
                should have started just a short while ago, be a little patient.
            </p>
        </div>
        {{ else }}
        {{ range index .CredsData}}
        <h3 id="{{ .EnvName }}">{{ .EnvNiceName }}</h3>
        {{ range $secEngName, $creds := .EnvCreds }}
        <h5>{{ $secEngName }}:</h5>

        {{ if index $creds "username" }}
        <p class="breakall"><span class="font-weight-bold">username: </span><span
                class="text-monospace">{{ index $creds "username" }}</span></p>
        {{ end }}
        {{ range $key, $value := $creds }}
        {{ if ne $key "username" }}
        <p class="breakall"><span class="font-weight-bold">{{ $key }}: </span><span class="text-monospace">{{ $value }}</span>
        </p>
        {{ end }}

        {{ end }}
        {{ end}}
        <a class="btn btn-primary" href="/personal" role="button">back to personal view</a>
        <hr>
        {{ end }}
        {{ end }}
        <br>
    </div>
    <br>
</main>
{{ template "wordbreak" }}
{{ template "bottom" }}