{{/* 
    Copyright 2019, Advanced UniByte GmbH.
    Author Marie Lohbeck.
    
    This file is part of Gafaspot.
    
    Gafaspot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Gafaspot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ template "top" }}
{{ template "nav" index .Username }}
<main>
    <div class="container">
        <br>
        <h2>Your Credentials</h2>
        <br>
        {{ if not .CredsData }}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No Credentials</h4>
            <p>You don't have any active reservations, so Gafaspot has no valid credentials for you.</p>
            <hr>
            <p>
                Please note: It may take a few minutes until a reservation becomes active. If your reservation
                has just started, wait a bit and then reload this page.
            </p>
        </div>
        {{ else }}
        {{ range index .CredsData}}
        <div class="card">
        <div class="card-header">
        <h3 id="{{ .Env.PlainName }}"><span>{{ .Env.NiceName }}</span>
        {{ if .Env.Description }}
        <a class="btn btn-outline-secondary btn-sm float-right" data-toggle="collapse" href="#description_{{ .Env.PlainName }}" role="button" aria-expanded="false"
            aria-controls="description_{{ .Env.PlainName }}">description</a></h3>
        <div class="collapse" id="description_{{ .Env.PlainName }}">
            <br>
            {{ .Env.Description }}
            <hr>
        </div>
        {{ end }}
        <small class="font-weight-bold text-black-50">Reservation: <span class="ml-2 mr-1">{{ formatDatetime .Res.Start }}</span>
            &ndash;<span class="ml-1 mr-2">{{ formatDatetime .Res.End }}</span>({{ .Res.Subject }})</small>
        </div>
        <div class="card-body">
        {{ if not .Creds }}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> not possible to provide credentials for this environment.
        </div>
        {{ else }}
        {{ range $secEngName, $creds := .Creds }}
        <div class="card card-body">
        <h5 class="mb-4">{{ $secEngName }}</h5>

        {{ if index $creds "username" }}
        <p class="breakall"><span class="font-weight-bold">username: </span><span
                class="text-monospace">{{ index $creds "username" }}</span></p>
        {{ end }}
        {{ range $key, $value := $creds }}
        {{ if ne $key "username" }}
        <p class="breakall"><span class="font-weight-bold">{{ $key }}: </span><span
                class="text-monospace">{{ $value }}</span>
        </p>
        {{ end }}
        {{ end }}
        </div>
        <br>
        {{ end }}
        {{ end }}
        <a class="btn btn-primary" href="/personal" role="button">back to personal view</a>
        </div></div>
        <br>
        {{ end }}
        {{ end }}
        <br>
    </div>
    <br>
</main>
{{ template "wordbreak" }}
{{ template "bottom" }}
