{{/* 
  Copyright 2019, Advanced UniByte GmbH.
  Author Marie Lohbeck.
  
  This file is part of Gafaspot.
  
  Gafaspot is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Gafaspot is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ template "top" }}
<main>
  <div class="container">
    {{ if ne (index .Error) ""}}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <p>{{ .Error }}</p>
    </div>
    {{ end }}
    {{ if ne (index .Info) ""}}
    <div class="alert alert-success" role="alert">
      <p>{{ .Info }}</p>
    </div>
    {{ end }}
    <h2> Login gafaspot </h2>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="username">
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary">login</button>
    </form>
  </div>
</main>
{{ template "bottom" }}