{{ template "top" }}
{{ template "nav" .Username }}
<main>

    <div class="row">
        <!-- tab bar for all environments -->
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                {{ range .Envs }}
                {{ $plainEnv := plainString .Name }}
                <a class="list-group-item list-group-item-action" id="{{ $plainEnv }}-tab" data-toggle="list"
                    href="#{{ $plainEnv }}" role="tab" aria-controls="{{ $plainEnv }}">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
        <!-- contents to the different tabs -->
        <div class="container col-8">
            <div class="tab-content" id="nav-tabContent">
                {{ $upcoming := .ReservationsUpcoming }}
                {{ $active := .ReservationsActive }}
                {{ $expired := .ReservationsExpired }}
                {{ range .Envs }}
                {{ $plainEnv := plainString .Name }}
                <div class="tab-pane" id="{{ $plainEnv }}" role="tabpanel" aria-labelledby="{{ $plainEnv }}-tab">
                    <h2>{{ .Name }}</h2>
                    <h3>description:</h3>
                    <p>{{ .Description }}</p>
                    <h3>reservations:</h3>
                    <ul class="list-group">
                        <!-- all upcoming reservations -->
                        {{ range $upcoming }}
                        <li class="list-group-item list-group-item-info">
                            <div class="row">
                                <span class="badge border border-info overflow-hidden col-md-1">upcoming</span>
                                <span class="col-md-10"><span class="font-weight-bold">{{ .Env }}:</span><span
                                        class="ml-3 mr-2">{{ .Start }}</span>&ndash;<span
                                        class="ml-2 mr-3">{{ .End }}</span>({{ .Subject }})</span>
                                <button type="button" class="btn badge badge-danger col-md-1" data-toggle="modal"
                                    data-target="#confirmAbortion" data-id="{{ .ID }}"
                                    data-reservation="{{ .Env }}: {{ .Start }} &ndash; {{ .End }} ({{ .Subject }})">Abort
                                </button>
                            </div>
                        </li>
                        {{ end }}
                        <!-- all active reservations -->
                        {{ range $active }}
                        <li class="list-group-item list-group-item-success">
                            <div class="row">
                                <span class="badge border border-success col-md-1">active</span>
                                <span class="col-md-9"><span class="font-weight-bold">{{ .Env }}:</span><span
                                        class="ml-3 mr-2">{{ .Start }}</span>&ndash;<span
                                        class="ml-2 mr-3">{{ .End }}</span>({{ .Subject }})</span>
                                <a href="#" class="badge badge-success col-md-2">Show credentials</a>
                            </div>
                        </li>
                        {{ end }}
                        <!-- all expired reservations -->
                        {{ range $expired }}
                        <li class="list-group-item list-group-item-dark">
                            <div class="row">
                                <span class="badge border border-dark col-md-1">expired</span>
                                <span class="col-md-11"><span class="font-weight-bold">{{ .Env }}:</span><span
                                        class="ml-3 mr-2">{{ .Start }}</span>&ndash;<span
                                        class="ml-2 mr-3">{{ .End }}</span>({{ .Subject }})</span>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                    <form method="post" action="/newreservation/{{ $plainEnv }}">
                        <button type="submit" class="btn btn-primary">new reservation</button>
                    </form>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

</main>
{{ template "bottom" }}

<!-- functionality for accessing specified tabs when linking from another site -->
<script type="text/javascript">
    var url = document.location.toString();
    if (url.match('#')) {
        $('.list-group a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    $('.list-group a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })
</script>