{{/* 
    Copyright 2019, Advanced UniByte GmbH.
    Author Marie Lohbeck.
    
    This file is part of Gafaspot.
    
    Gafaspot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Gafaspot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ template "top" }}
{{ template "nav" index .Username }}
<main>
    <div class="container-fluid">
        <div class="row">
            <!-- tab bar for all environments -->
            <div class="col-2 fixed-top" style="overflow-y: scroll; height: 100%;">
                <p class="nav-item nav-link">Available Environments:</p>
                <div class="list-group" id="list-tab" role="tablist">
                    {{ range index .Envcontent }}
                    <a class="list-group-item list-group-item-action" id="{{ .Env.PlainName }}-tab" data-toggle="list"
                        href="#{{ .Env.PlainName }}" role="tab"
                        aria-controls="{{ .Env.PlainName }}">{{ .Env.NiceName }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- contents of the different tabs -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <div class="container">
                    <br>
                    <div class="tab-content" id="nav-tabContent">
                        {{ range index .Envcontent }}
                        {{ $PlainName := .Env.PlainName }}
                        <div class="tab-pane" id="{{ $PlainName }}" role="tabpanel"
                            aria-labelledby="{{ $PlainName }}-tab">
                            <h2>{{ .Env.NiceName }}</h2>
                            <br>
                            <h3>Description:</h3>
                            <br>
                            <p>{{ .Env.Description }}</p>
                            <br>
                            <hr>
                            <h3>Reservations:</h3>
                            <br>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input togglePast"
                                    id="togglePast-{{ $PlainName }}" data-toggle="collapse"
                                    data-target=".past-{{ $PlainName }}">
                                <label class="custom-control-label" for="togglePast-{{ $PlainName }}">Show expired
                                    reservations</label>
                            </div>
                            <br>
                            <ul class="list-group">
                                {{ range index .Reservations}}
                                {{ if (eq .Status "upcoming") }}
                                <div>
                                    <li class="list-group-item list-group-item-info">
                                        {{ else if (eq .Status "active") }}
                                        <div>
                                    <li class="list-group-item list-group-item-success">
                                        {{ else if (eq .Status "expired") }}
                                        <div class="past-{{ $PlainName }} collapse">
                                    <li class="list-group-item list-group-item-dark">
                                        {{ else if (eq .Status "error") }}
                                        <div{{ if (past .) }} class="past-{{ $PlainName }} collapse" {{ end }}>
                                    <li class="list-group-item list-group-item-danger">
                                        {{ else }}
                                        <div
                                            class="font-italic{{ if (past .) }} past-{{ $PlainName }} collapse {{ end }}">
                                    <li class="list-group-item list-group-item-light">
                                        {{ end }}
                                        <div class="row">
                                            {{ if (eq .Status "upcoming") }}
                                            <span
                                                class="badge border border-info overflow-hidden col-md-1">{{ .Status }}</span>
                                            {{ else if (eq .Status "active") }}
                                            <span
                                                class="badge border border-success overflow-hidden col-md-1">{{ .Status }}</span>
                                            {{ else if (eq .Status "expired") }}
                                            <span
                                                class="badge border border-dark overflow-hidden col-md-1">{{ .Status }}</span>
                                            {{ else if (eq .Status "error") }}
                                            <span
                                                class="badge border border-danger overflow-hidden col-md-1">{{ .Status }}</span>
                                            {{ else }}
                                            <span
                                                class="badge border border-light overflow-hidden col-md-1">invalid</span>
                                            {{ end }}
                                            <span class="col-md-10"><span class="font-weight-bold">{{ .User }}:</span>
                                                <span class="ml-3 mr-2">{{ formatDatetime .Start }}</span>&ndash;<span
                                                    class="ml-2 mr-3">{{ formatDatetime .End }}</span>({{ .Subject }})</span>
                                        </div>
                                    </li>
                                </div>
                                {{ end }}
                            </ul>
                            <br>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ template "bottom" }}
<script type="text/javascript">
    $('.togglePast').prop('checked', false);
    //functionality for accessing specified tabs when linking from another site
    var url = document.location.toString();
    if (url.match('#')) {
        $('.list-group a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    $('.list-group a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
        window.scrollTo(0, 0);
    })
    $(document).ready(function () {
        window.scrollTo(0, 0);
    });
</script>