{{/* 
    Copyright 2019, Advanced UniByte GmbH.
    Author Marie Lohbeck.
    
    This file is part of Gafaspot.
    
    Gafaspot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Gafaspot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "nav" }}
<header>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item nav-link">logged in as: {{ . }}</li>
            <li class="nav-item">
                <a class="nav-link" href="/mainview">show main view</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personal">show personal view</a>
            </li>
            <li class="nav-item">
                <form method="POST" action="/logout">
                    <button type="submit" class="nav-link btn btn-link">logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
{{ end }}