{{ define "nav" }}
<header>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item nav-link">logged in as: {{ . }}</li>
            <li class="nav-item">
                <a class="nav-link" href="/mainview">show main view</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personal">show personal view</a>
            </li>
            <li class="nav-item">
                <form method="POST" action="/logout">
                    <button type="submit" class="nav-link btn btn-link">logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
{{ end }}