{{ template "top" }}
{{ template "nav" .Username }}
<main>
    <div class="container w-50">
        <h2>new reservation</h2>

        {{ if .SSHmissing }}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>You have not saved a SSH public key yet. You can not do this reservation without SSH key. Go to the <a
                    href="/personal" class="alert-link">personal view</a> and add a key first.</p>
        </div>
        {{ end }}
        <form method="POST" , action="/reserve">
            <div class="form-group row">
                <label for="env" class="col-form-label col-md-2">environment</label>
                <select class="form-control col-md-10" id="env" onChange="window.location.href=this.value">
                    {{ $env := .Env }}
                    {{ range .Envs }}
                    {{ if eq . $env }}
                    <option selected>{{ . }}</option>
                    {{ else }}
                    <option>{{ . }}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </div>
            <div class="row">
                <label for="start" class="col-form-label col-md-2">start reservation</label>
                <div class="form-group row col-md-10" id="start">
                    <input type="date" class="form-control col-md" id="startdate" name="startdate">
                    <input type="time" class="form-control col-md" id="starttime" name="starttime" value="00:00">
                </div>
            </div>
            <div class="row">
                <label for="end" class="col-form-label col-md-2">end reservation</label>
                <div class="form-group row col-md-10" id="end">
                    <input type="date" class="form-control col-md" id="enddate" name="enddate">
                    <input type="time" class="form-control col-md" id="endtime" name="endtime" value="23:59">
                </div>
            </div>
            <div class="form-group row">
                <label for="sub" class="col-form-label col-md-2">subject</label>
                <input type="text" class="form-control col-md-10" id="sub" name="sub">
            </div>
            <div class="d-flex justify-content-end">
                <a href="/mainview"><input type=button class="btn btn-primary m-2" value="cancel"></a>
                <button type="submit" class="btn btn-primary m-2" {{ if .SSHmissing }}disabled{{ end }}>submit</button>
            </div>
        </form>
    </div>
</main>
{{ template "bottom" }}