{{/* 
    Copyright 2019, Advanced UniByte GmbH.
    Author Marie Lohbeck.
    
    This file is part of Gafaspot.
    
    Gafaspot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Gafaspot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Gafaspot.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ template "top" }}
{{ template "nav" index .Username }}
<main>
    <!-- confirm modal for aborting reservations -->
    <div class="modal fade" id="confirmAbortion" tabindex="-1" role="dialog" aria-labelledby="confirmAbortionTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAbortionTitle">Want to abort reservation?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control-plaintext" readonly name="reservation" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
                    <form method="post" action="/abortreservation">
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-primary">yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm modal for deleting ssh keys -->
    <div class="modal fade" id="confirmSSHDeletion" tabindex="-1" role="dialog"
        aria-labelledby="confirmSSHDeletionTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmSSHDeletionTitle">Want to delete SSH public key?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Warning</h4>
                        <p>
                            For some environments, the SSH key is necessary to perform reservations. Gafaspot will not
                            allow you to create such a reservation without having an SSH key uploaded. But it will
                            fetch your key for the reservation not until it actually started. So, if you delete your key
                            after you created a reservation, but before the reservation started, it will cause an error.
                            The reservation will not be performed.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
                    <form method="post" action="/personal/deletekey">
                        <button type="submit" class="btn btn-primary">yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <h2>Personal View</h2>
        <br>
        <a class="btn btn-success" href="/personal/creds" role="button">show all your valid credentials</a>
        <hr>
        <p><b>SSH Public Key:</b>
            {{ $noSSH := eq (index .SSHkey) "" }}
            <p class="text-monospace text-break">{{ if $noSSH }}no key yet{{ else }}{{ index .SSHkey }}{{ end }}</p>
        </p>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary m-2" href="personal/addkey" role="button">add/change key</a>
            <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#confirmSSHDeletion"
                {{ if $noSSH }}disabled{{ end }}>remove key</button>
        </div>
        <hr>
        <br>
        <h3>Your Reservations:</h3>
        <br>
        <ul class="list-group">
            {{ range index .Reservations}}
            {{ $color := "" }}
            {{ if (eq .Status "upcoming") }}{{ $color = "info" }}
            {{ else if (eq .Status "active")}}{{ $color = "success" }}
            {{ else if (eq .Status "expired")}}{{ $color = "dark" }}
            {{ else if (eq .Status "error")}}{{ $color = "error" }}
            {{ end }}
            <li class="list-group-item list-group-item-{{ $color }}">
                <div class="row">
                    <span class="badge border border-{{ $color }} overflow-hidden col-md-1">{{ .Status }}</span>
                    <span class="col-md-10"><span class="font-weight-bold">{{ .EnvNiceName }}:</span>
                        <span class="ml-3 mr-2">{{ formatDatetime .Start }}</span>&ndash;<span
                            class="ml-2 mr-3">{{ formatDatetime .End }}</span>({{ .Subject }})</span>
                    {{ if (eq .Status "upcoming") }}
                    <button type="button" class="btn badge badge-danger col-md-1" data-toggle="modal"
                        data-target="#confirmAbortion" data-id="{{ .ID }}"
                        data-reservation="{{ .EnvNiceName }}: {{ formatDatetime .Start }} &ndash; {{ formatDatetime .End }} ({{ .Subject }})">abort
                    </button>
                    {{ if (eq .Status "active") }}
                    <a href="personal/creds" class="badge badge-success col-md-1">show creds</a>
                    {{ end }}
                </div>
            </li>
            {{ end }}
        </ul>
        <br>
    </div>
</main>

{{ template "bottom" }}

<!-- functionality for passing the right data to the confirm-abortion-modal when clicking an abort button -->
<script type="text/javascript">
    $('#confirmAbortion').on('show.bs.modal', function (e) {
        $(e.currentTarget).find('input[name="reservation"]').val($(e.relatedTarget).data('reservation'));
        $(e.currentTarget).find('input[name="id"]').val($(e.relatedTarget).data('id'));
    });
</script>