{{ template "top" }}
{{ template "nav" index .Username }}
<main>
        <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <p>You did following reservation:</p>
                <div class="row">
                        <span class="col-md-9">
                                <span class="font-weight-bold">{{ .EnvPlainName }}:</span>
                                <span class="ml-3 mr-2">{{ formatDatetime .Start }}</span>
                                &ndash;
                                <span> class="ml-2 mr-3">{{ formatDatetime .End }}</span>
                                ({{ .Subject }})
                        </span>
                </div>
                <hr>
                <p>The reservation becomes active as soon as its start point is reached. Then you can access the
                        credentials in the <a href="personal" class="alert-link">personal view</a>.</p>

                <a class="btn btn-primary" href="mainview" role="button">back to main view</a>
        </div>
</main>
{{ template "bottom" }}